li span.removeInvestment {
  visibility: hidden;
}

span.removeInvestment a {
  text-decoration: none;
  color: red;
}

li:hover span.removeInvestment {
  visibility: visible;
}

.card {
  width: 51.5rem;
  margin-bottom: 12px;
}