.main {
  display: inline-block;
  width: 300px;
  text-align: left;
}

.others {
  display: inline-block;
  width: 80px;
  text-align: left;
}

li span.removeInvestment {
  visibility: hidden;
}

span.removeInvestment a {
  text-decoration: none;
  color: red;
}

li:hover span.removeInvestment {
  visibility: visible;
}